<div class="mt-4 mx-5">
    <form method="POST" action="">
        <div class="form-group">
            <label for="fullName">Your name</label>
            <input type="text" class="form-control" id="fullName" name="name" placeholder="Type in your name...">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
           <div class="form-group">
            <label for="gender">Choose gender</label>
            <select  class="form-control" id="gender" name="gender" >
                <option value="">--Choose your gender--</option>
                <option value="">Male</option>
                <option value="">Female</option>
                <option value="">Others</option>
            </select>
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>