<section class="vh-100 bg-image register-form mt-5">
  <div class="d-flex justify-content-center h-100">
    <div class="user_card">
      <div class="d-flex justify-content-center">
        <div class="brand_logo_container">
          <img src="/img/growwise.png" alt="logo" class="brand_logo" />
        </div>
      </div>
      <div class="d-flex justify-content-center form_container">
        <form method="POST" action="/auth/login">
          <div class="input-group mb-3">
            <div class="input-group-append">
              <span class="input-group-text"><ion-icon name="person-outline"></ion-icon></span>
            </div>
            <input type="text" class="form-control-lg input_user" placeholder="username"
               id="username" name="username" required
            >
          </div>
          <div class="input-group mb-2">
            <div class="input-group-append">
              <span class="input-group-text"><ion-icon name="key-outline"></ion-icon></span>
            </div>
            <input type="password" class="form-control-lg input_pass" placeholder="password"
               id="password" name="password" required
            >
          </div>
          <div class="form-group mb-2">
            <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" id="customControlInline" >
              <label class="custom-control-label" for="customControlInline">Remember me</label>
            </div>
          </div>
          <div class="d-flex justify-content-center mt-4 login_container">
            <button type="submit" name="button" class="btn login_btn">Login</button>
          </div>
        </form>
      </div>

      <div class="mt-4">
        <div class="d-flex justify-content-center links">
          Don't have an account? <a href="/auth/register" class="ml-2">Sign Up</a>
        </div>
        <div class="d-flex justify-content-center links">
          <a href="#">Forgot your password?</a>
        </div>
      </div>
    </div>
  </div>
</section>
